
.my-custom-datepicker .react-datepicker__time-container {
    display: block;
    width: 500px; /*изменить ширину*/
}

.my-custom-datepicker .react-datepicker__time-box {
    padding: 10px 20px; /*изменить отступы элемента*/
    border: 2px solid #ccc; /*изменить толщину и цвет рамки*/
    border-radius: 8px; /* добавить скругление углов */
}

.my-custom-datepicker .react-datepicker__time-box:hover {
    background-color: #efefef; /*изменить цвет фона при наведении*/
}