.btn-date {
    display: block;
    font-size: 20px;
    margin: 5px auto;
    text-align: center;
}

.btn-find {
    display: block;
    margin: 10px auto;
    font-size: 20px;
    text-align: center;
}